material/*
!material/data_and_code_availability.txt
!material/untwist_lines_accessions.txt

results/*
!results/*.pdf
!results/*.tsv
!results/*.newick
!results/*.Q
!results/*.eigenvec
!results/*.dist
!results/*.dist.id
!results/*.fam
*.err
*.out
